:root {
  --formWidth: 250px;
}

body {
  margin: 0;
  animation-name: example2;
  background-image: radial-gradient(circle, yellow, orange);
}

h1 {
  color: black;
  position: relative;
  font-family: cursive;
  font-style: normal;
  /*font-size: 12px;*/
  text-shadow: -1px -1px 1px orange;
  animation-name: example2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

p {
  color: black;
}

hr {
  width: var(--formWidth);
  margin: 0px;
}

input[type=text], [type=password] {
  border-radius: 0px;
  border: 0px;
  outline: none;
  opacity: 1;
  background-color: transparent;
  width: var(--formWidth);
  height: 25;
  /*background-repeat: repeat;*/
  /*background-image: url('images/lock.png');*/
  /*transition: width .5s ease-in-out;*/
}

input[type=submit] {
  border-radius: 50px;
  border: 0px;
  /*text-shadow: 1px 1px red;*/
  /*box-shadow: 1px 1px limegreen;*/
  width: 250px;
  height: 25px;
}

form {
  text-align: center;
  width: var(--formWidth);
  height: 450px;
  margin: auto;
  position: relative;
}

input[type=text]:focus {
  /*width: 100%;*/
}

input[type=password]:focus {
  /*width: 100%;*/
}

input[type=submit]:hover {
  /*box-shadow: 5px 5px purple;*/
}

@keyframes example2 {
  0% {
    text-shadow: -1px -1px 1px  brightred;
  }

  25% {
    text-shadow: -1px -1px 1px  yellow;
  }

  50% {
    text-shadow: -1px -1px 1px  orange;
  }

  75% {
    text-shadow: -1px -1px 1px  skyblue;
  }

  100% {
    text-shadow: -1px -1px 1px  limegreen;
  }
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.header {
  font-size: 25px;
  padding: 0px;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
}

.row {
  content: "";
  display: table;
  clear: both;
}

.stats {
  margin: 10px;
  float: left;
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 1px  1px 1px black;
}

.myStats {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
