:root {
  --titleFont: "Komika Title";
  --textFont: "Komika Text";
  --textFontSize: 30px;
  --formWidth: 200px;
  --panelWidth: 300px;
}

p {
  font-family: var(--textFont);
  font-size: var(--textFontSize);
}

h1 {
  color: yellow;
  position: relative;
  font-family: var(--titleFont);
  font-style: normal;
  text-shadow: 5px 5px 1px black;
}

h2 {
  color: yellow;
  position: relative;
  font-family: var(--titleFont);
  font-size: 45px;
  font-style: normal;
  text-shadow: 5px 5px 1px black;
}

hr {
  height: 5px;
  margin: 0px;
  background-color: black;
}

td {
  font-family: var(--textFont);
  font-size: var(--textFontSize);
}

ul {
  text-align: left;
  list-style-type: none;
  font-family: var(--textFont);
  font-size: var(--textFontSize);
}

input[type=text], [type=password], [type=number] {
  border-radius: 0px;
  font-size: 25px;
  border: 0px;
  outline: none;
  opacity: 1;
  background-color: white;
  font-family: var(--textFont);
  width: var(--formWidth);
  height: 35px;
}

input[type=submit] {
  border-radius: 0px;
  border: 0px;
  font-size: 25px;
  font-family: var(--textFont);
  /*text-shadow: 1px 1px red;*/
  /*box-shadow: 1px 1px limegreen;*/
  background-color: yellow;
  width: var(--formWidth);
  height: 35px;
}

.row:after {
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 345px;
}

.comicBorder {
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.comicText {
  font-family: var(--textFont);
  font-size: var(--textFontSize);
}

.panel {
  float: left;
  width: var(--panelWidth);
  padding: 15px;
  color: black;
  text-align: center;
  font-size: 15px;
}

.topnav {
  margin: 5px 0px 0px 0px;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  font-family: var(--textFont);
  font-size: 25px;
  color: yellow;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

.topnav a:hover, .dropdown-content, .dropdown:hover, .dropbtn{
  background-color: #ddd;
  color: black;
}

.header {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/imgs/cityBlue.jpg");
  font-size: 50px;
  padding: 1px;
  text-align: center;
}

.hero {
  float: left;
  width: 300px;
  color: black;
  text-align: center;
  padding: 15px;
  font-size: 15px;
  content:url("/imgs/superHero.jpg");
}

.bgGreen {
  background-color: limegreen;
}

.bgBlue {
  background-color: #33b5e5;
}

.bgOrange {
  background-color: orange;
}

.margin {
  margin: 5px 0px 0px 0px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
  font-family: var(--textFont);
  font-size: 25px;
  color: yellow;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  display: block;
  text-align: left;
  display: block;
  background-color: #333;
  font-family: var(--textFont);
  font-size: 25px;
  color: yellow;
  padding: 10px 20px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

  .cancelbtn {
     width: 100%;
  }
}
